#addCategory {
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#addCategory:hover {
    background-color: var(--primary-hover-color);
}

#categoryList {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.category-container {
    margin-top: 5px;
    padding: 5px 8px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
}

.category-container:hover {
    box-shadow: 1px 1px 20px 1px var(--primary-color);
    border-radius: 5px;
}

.sub-category-container .category-container:hover {
    box-shadow: 5px 5px 35px 5px var(--text-color);
}

/* Masquer les sous-catégories et produits quand la catégories est cachée */
.category-container[data-hidden="true"] .sub-category-container,
.category-container[data-hidden="true"] .product-container {
    display: none;
}

.category-container[data-hidden="true"] {
    opacity: 0.5;
}

.toggle-visibility {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.category-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    gap: 5px;
}

.category-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.category-name:before {
    content: "📦 ";
    font-size: 1.2em;
}

.category-lvl1 {
    color: var(--primary-color) !important;
    font-weight: bold;
    font-size: 20px;
}

.category-lvl1:before {
    content: "📁 ";
    font-size: 1.2em;
}

.category-actions {
    display: flex;
    gap: 10px;
    margin-left: 25px;
}

.category-actions button {
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.category-actions button:hover {
    background: var(--background-color);
}

.sub-category-container {
    margin-top: 5px;
    padding-left: 10px;
    border-left: 2px solid var(--border-color);
}